$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;
$color-grey-dark-4: #333;

$color-grey-light-1: #e1e1e1;
$color-grey-light-2: #eee;

$color-base-1: #fff;
$color-primary: #5e55ea;